<mat-nav-list >
  <div class="profile-card">
      <div class="header">
          <h1>Gleison</h1>
          <h4>gleisonnanet@gmail.com</h4>
          <img src="https://s.gravatar.com/avatar/eae00304be7d6c8e79c785124d7d34e6?s=80" alt="Gleison de souza luiz">
      </div>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Paginas</h2>

  <a mat-list-item routerLinkActive="list-item-active"  routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
  <mat-divider></mat-divider>

  <h2 matSubheader>Contato</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>mail</mat-icon>
      gleisonnanet@gmail.com
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
      <mat-icon>contact_phone</mat-icon>
      55-19+987676233
  </a>

</mat-nav-list>
